<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='w3school.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
 <div class="w3-bar w3-green">
  <a href="#" class="w3-bar-item w3-button" onclick="load_photo_screen()">Take Photo</a>
  <a href="#" class="w3-bar-item w3-button" onclick="load_upload_screen()">Upload File</a>
  <a href="#" class="w3-bar-item w3-button" onclick="load_todo_screen()">Task list</a>
</div>
<div id="content"></div>
<script src="{{url_for('render_js', jsname='index.js')}}" async></script>
</body>
</html>

